@model IEnumerable<BulkyBook.DomainClass.Public.Slider>
@using BulkyBook.Business.StaticTools

@{
    var countOfSliders = Model.Count();
}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int j = 0; j < countOfSliders; j++)
        {
            var activeIndicator = j == 0 ? "active" : "";
            <li data-target="#carouselExampleCaptions" data-slide-to="@j" class="@activeIndicator"></li>
        }
    </ol>
    <div class="carousel-inner">
        @{
            int i = 0;
        }
        @foreach (var slider in Model)
        {
            i++;
            var active = i == 1 ? "active" : "";

            <div class="carousel-item @active">
                <a href="@slider.Url">
                    <img src="@SD.OriginalSliderImagePath.Remove(0,7)@slider.ImageName"
                         class="d-block w-100" alt="Slider @i">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-bold">@slider.Title</h1>
                    <p>@slider.Description</p>
                </div>
            </div>
        }
    </div>
</div>







@*<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @{
                int i = 0;
            }
            @foreach (var slider in Model)
            {
                i++;
                var active = i == 1 ? "active" : "";
                <div class="carousel-item @active">
                    <a href="@slider.Url">
                        <img src="@SD.OriginalSliderImagePath.Remove(0,7)@slider.ImageName"
                             class="d-block w-100" alt="Slider @i">
                    </a>
                </div>
            }
        </div>
    </div>*@
