@model BulkyBook.ViewModel.Book.BookVM
@using BulkyBook.Business.StaticTools

@{
    ViewData["Title"] = Model.Book.Id == 0 ? "Create Book" : "Edit Book";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.AntiForgeryToken()

    @if (Model.Book.Id != 0)
    {
        <input type="hidden" asp-for="Book.Id" />
        <input type="hidden" asp-for="Book.ImageUrl" />
    }

    <div class="row p-3 border">
        <div class="col-12 border-bottom">
            <h2 class="text-dark">@(Model.Book.Id == 0?"Create Book":"Edit Book")</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Book.Title"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Book.Title" class="form-control" />
                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Book.ISBN"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Book.ISBN" class="form-control" />
                    <span asp-validation-for="Book.ISBN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Book.Author"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Book.Author" class="form-control" />
                    <span asp-validation-for="Book.Author" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Book.Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Book.Description" class="form-control"></textarea>
                    <span asp-validation-for="Book.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Book.ListPrice"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Book.ListPrice" class="form-control" />
                    <span asp-validation-for="Book.ListPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Book.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Book.Price" class="form-control" />
                    <span asp-validation-for="Book.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Book.Price50"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Book.Price50" class="form-control" />
                    <span asp-validation-for="Book.Price50" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Book.Price100"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Book.Price100" class="form-control" />
                    <span asp-validation-for="Book.Price100" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-bold">
                    Category
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Book.CategoryId,
                   Model.CategoryList, "- Select a Category -",
                   new { @class = "form-control" })
                    <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-bold">
                    CoverType
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Book.CoverTypeId,
                   Model.CoverTypeList, "- Select a CoverType -",
                   new { @class = "form-control" })
                    <span asp-validation-for="Book.CoverTypeId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Book.Id == 0)
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateImageInput()"
                                        class="btn btn-success form-control">
                                    Create
                                </button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-primary form-control">
                                    Back To List
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <partial name="_UpdateAndBackToListButton" model="Model.Book.Id" />
                    }
                </div>
            </div>
        </div>
        <div class="col-4 pt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@((Model.Book.Id == 0) ? SD.NoPhoto : Model.Book.ImageUrl)" alt="Book Image" id="target">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-2">
                            <label>Image</label>
                        </div>
                        <div class="col-9 offset-1">
                            <input type="file" multiple name="BookImage" id="BookImageInput" />
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="panel panel-primary">
                    <div class="panel-heading">Book Image</div>
                    <div class="panel-body">
                        <img src="@(SD.NoPhoto)" alt="Book image" class="img-thumbnail" id="BookImage" style="width:200px;" />

                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="text-bold">Iamge</label>
                            </div>
                            <div class="col-md-10">
                                <input type="file" class="form-control" multiple name="BookImage" id="BookImageInput" />
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.tiny.cloud/1/ngmcapzjz97fuxpvni2s8pkccjooqt74196lnte523vnj1ul/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>

        // TinyMCE
        tinymce.init({
            selector: 'textarea',
            height: 250,
            menubar: 'file edit format',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                'bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });

        // Validate Image
        function validateImageInput() {
            if (document.getElementById("BookImageInput").value == "") {
                swal("Error", "Please select an image", "error");
                return false;
            }

            return true;
        }


        // Display Selected Image
        function showImage(src, target) {
            var fr = new FileReader();
            // when image is loaded, set the src of the image where you want to display it
            fr.onload = function (e) { target.src = this.result; };
            src.addEventListener("change", function () {
                // fill fr with image data    
                fr.readAsDataURL(src.files[0]);
            });
        }

        var src = document.getElementById("BookImageInput");
        var target = document.getElementById("target");
        showImage(src, target);

    </script>

}

