@model BulkyBook.DomainClass.Setting.ContactUs

@{
    ViewData["Title"] = "ShowMessage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container p-3">
    <div class="jumbotron">
        <h1 class="display-4">User Message Text</h1>
        <p class="lead"><span class="text-bold">Subject : </span> @Model.Subject</p>
        <p class="lead"><span class="text-bold">Create Date : </span> @Model.CreateDate.ToShortDateString()</p>
        <hr class="my-4">
        <p class="font-weight-bold">Message : </p>
        <div class="mb-5">@Html.Raw(Model.Message)</div>
        @if (Model.Answer != null)
        {
            <hr class="my-4" />
            <p class="font-weight-bold">Answer : </p>
            <div class="mb-5">@Html.Raw(Model.Answer)</div>
        }
        else
        {
            <a class="btn btn-success btn-lg" role="button"
               asp-area="Admin" asp-controller="ManageSite" asp-action="AnswerContact"
               asp-route-id="@Model.Id">
                Send Answer
            </a>
        }

    </div>
</div>

